<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show database</title>
    <style>
        body {
            background-color: #f7f7f7;
            font-size: 14px;
        }
        h1 {
            text-align: center;
        }
        .container {
            width: auto;
            height: auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            justify-items: center;
        }
        .item {
            width: 300px;
            height: 410px;
            border: 1px solid #ccc;
            border-radius: 15px;
            padding: 10px;
            background-color: beige;
            box-shadow: 5px 5px 5px #ccc;
            margin: 10px 0;
        }
    </style>
</head>

<body>
    <h1>Show Database</h1>
    <div class="container">

    </div>


    <script src="./javascripts/axios.min.js"></script>
    <script>
        let container = document.querySelector('.container')
        axios.get('/showdata')
            .then(function (response) {
                let arr = response.data
                console.log(arr.length);
                for (let i = 0; i < arr.length; i++) {
                    container.insertAdjacentHTML('beforeEnd',
                        `
                    <div class="item">
                    <p>Country:${arr[i].select}</p>
                    <p>First name:${arr[i].firstName}</p>
                    <p>Last name:${arr[i].lastName}</p>
                    <p>Email:${arr[i].email}</p>
                    <p>Address:${arr[i].address}</p>
                    <p>City:${arr[i].city}</p>
                    <p>State:${arr[i].state}</p>
                    <p>ZIP / Postal code:${arr[i].postalCode}</p>
                    <p>Mobile phone number:${arr[i].phone}</p>
                    </div>
                `
                    )
                }

            })
            .catch(function (error) {
                console.log(error);
            })
            .then(function () {
                // always executed
            });
    </script>
</body>

</html>